@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a:focus,
a:active {
  /* outline: none;*/ }

/* Links */
a, a:link, a:visited  {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */ }

a:hover {
  /* color: inherit; */
  text-decoration: none; }

/* Common */
aside, nav, footer, header, section, main {
  display: block; }

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit; }

ul, ul li {
  list-style: none; }

img {
  vertical-align: top; }

img, svg {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input::-ms-clear {
  display: none; }

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer; }

input:focus, input:active,
button:focus, button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

label {
  cursor: pointer; }

legend {
  display: block; }

body {
  background-color: #090F1D; }

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.6px;
  font-family: Inter;
  background-color: #D3F85A;
  border-radius: 8px; }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px; }
  .header .nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px; }
  .header .nav__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    font-family: Inter;
    color: #fffd; }
  .header .nav__link:hover {
    color: #ffff;
    border-bottom: 1px solid #D3F85A; }
  .header__btn {
    padding: 5px 15px; }
  .header .header__burger {
    display: none; }

.main .section1 {
  margin-top: 118px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 100px; }
  .main .section1-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    width: 40%; }
  .main .section1-box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px; }
    .main .section1-box1__title {
      color: #ffff;
      font-size: 64px;
      font-weight: 500;
      line-height: 76.8px;
      font-family: Canela; }
      .main .section1-box1__title--green {
        color: #D3F85A; }
    .main .section1-box1__text {
      color: #ffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 25.6px;
      font-family: Inter; }
    .main .section1-box1__buttons {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 40px; }
      .main .section1-box1__buttons-btn {
        padding: 5px 20px; }
      .main .section1-box1__buttons-btn1 {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        font-family: Inter;
        color: #fffd; }
      .main .section1-box1__buttons-btn1:hover {
        color: #ffff; }
  .main .section1-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 94px; }
    .main .section1-stats__sts {
      padding-right: 28px;
      border-right: 1px solid #D3F85A;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px; }
      .main .section1-stats__sts-number {
        font-size: 48px;
        font-weight: 500;
        line-height: 57.6px;
        font-family: Canela;
        color: #ffff; }
        .main .section1-stats__sts-number--green {
          color: #D3F85A; }
      .main .section1-stats__sts-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        font-family: Inter;
        color: #ffff; }
    .main .section1-stats__sts:last-child {
      border-right: none; }
  .main .section1-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px; }
    .main .section1-container2__star {
      position: absolute;
      top: 355px;
      right: 404.42px; }
    .main .section1-container2__back {
      z-index: -1; }
  .main .section1-shalker {
    padding: 0 25px;
    position: absolute;
    top: 620px;
    right: 31px;
    border-top: 1px solid #D3F85A;
    background-color: #131E3A;
    border-radius: 8px; }
    .main .section1-shalker__time {
      padding: 10px 1px 0 1px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0px; }
      .main .section1-shalker__time-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        font-family: Inter;
        color: #D3F85A; }
    .main .section1-shalker__dolar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0px;
      padding: 0 1px 10px 1px; }
      .main .section1-shalker__dolar-timer {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        font-family: Inter;
        color: #ffff; }
    .main .section1-shalker__btn {
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;
      font-family: Inter;
      color: #D3F85A;
      padding: 8px 30px;
      margin: 0 10px;
      border: 1px solid #D3F85A;
      border-radius: 8px; }

.main .section2 {
  padding-top: 150px; }
  .main .section2-box1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 0px;
    padding: 0 45px; }
    .main .section2-box1__title {
      width: 45%;
      font-size: 48px;
      font-weight: 500;
      line-height: 57.6px;
      font-family: Canela;
      color: #D3F85A; }
      .main .section2-box1__title--white {
        color: #ffff; }
    .main .section2-box1__btn {
      padding: 5px 15px; }
  .main .section2 .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 64px; }
    .main .section2 .cards-card {
      border-radius: 8px;
      border-top: 1px solid #D3F85A;
      background-color: #131E3A;
      width: 30%;
      padding: 15px; }
      .main .section2 .cards-card__info-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0px;
        color: #ffff; }
        .main .section2 .cards-card__info-text__title {
          font-size: 24px;
          font-weight: 700;
          line-height: 28.8px;
          font-family: Inter; }
        .main .section2 .cards-card__info-text__etnnumber {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 0px; }
          .main .section2 .cards-card__info-text__etnnumber-number {
            font-size: 16px;
            font-weight: 700;
            line-height: 19.2px;
            font-family: Inter; }
      .main .section2 .cards-card__info-btn__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        font-family: Inter;
        color: #838382; }
      .main .section2 .cards-card__info-btn__etnnumber {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0px; }
        .main .section2 .cards-card__info-btn__etnnumber-texts {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 0px; }
          .main .section2 .cards-card__info-btn__etnnumber-texts__number {
            font-size: 16px;
            font-weight: 700;
            line-height: 19.2px;
            font-family: Inter;
            color: #ffff; }
        .main .section2 .cards-card__info-btn__etnnumber-button {
          border: 1px solid #D3F85A;
          padding: 5px 15px;
          border-radius: 8px;
          color: #D3F85A;
          font-size: 16px;
          font-weight: 700;
          line-height: 19.2px;
          font-family: Inter; }

.main .section3 {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px; }
  .main .section3-container1 {
    padding: 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px; }
    .main .section3-container1__title {
      color: #ffff;
      font-size: 48px;
      font-weight: 500;
      line-height: 57.6px;
      font-family: Canela; }
      .main .section3-container1__title--green {
        color: #D3F85A; }
    .main .section3-container1__text {
      font-size: 14px;
      font-weight: 400;
      line-height: 25.6px;
      font-family: Inter;
      color: #fffd; }
    .main .section3-container1__buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 35px; }
      .main .section3-container1__buttons-btn {
        padding: 5px 20px; }
      .main .section3-container1__buttons-btn1 {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        font-family: Inter;
        color: #fffd; }
      .main .section3-container1__buttons-btn1:hover {
        color: #ffff; }
  .main .section3-container2 {
    padding: 150px;
    width: 50%;
    position: relative; }
    .main .section3-container2__img {
      position: absolute;
      top: 5px;
      right: 75px; }
    .main .section3-container2__img1 {
      position: absolute;
      right: 350px; }

.main .section4 {
  padding: 150px 142.5px; }
  .main .section4-container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0px; }
    .main .section4-container1__title {
      font-size: 48px;
      font-weight: 500;
      line-height: 57.6px;
      font-family: Canela;
      width: 30%;
      color: #ffff; }
      .main .section4-container1__title--green {
        color: #D3F85A; }
    .main .section4-container1__btn {
      padding: 5px 15px; }
  .main .section4-container2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px; }
    .main .section4-container2-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 30px; }
      .main .section4-container2-wrapper-block {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px; }
    .main .section4-container2 .section4-box1 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;
      background-image: url("/img/backavatar.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 239px 104px 24px 24px; }
      .main .section4-container2 .section4-box1__texts-title {
        color: #fffd;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        font-family: Inter; }
      .main .section4-container2 .section4-box1__texts-text {
        color: #ffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        font-family: Inter; }
    .main .section4-container2 .section4-box2 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;
      background-image: url("/img/backavatar1.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 239px 323px 24px 24px; }
      .main .section4-container2 .section4-box2__texts-title {
        color: #fffd;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        font-family: Inter; }
      .main .section4-container2 .section4-box2__texts-text {
        color: #ffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        font-family: Inter; }
    .main .section4-container2 .section4-box3 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;
      background-image: url("/img/backavatar2.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 239px 191px 24px 24px; }
      .main .section4-container2 .section4-box3__texts-title {
        color: #fffd;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        font-family: Inter; }
      .main .section4-container2 .section4-box3__texts-text {
        color: #ffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        font-family: Inter; }
    .main .section4-container2 .section4-box4 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;
      background-image: url("/img/backavatar3.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 239px 212px 24px 24px; }
      .main .section4-container2 .section4-box4__texts-title {
        color: #fffd;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        font-family: Inter; }
      .main .section4-container2 .section4-box4__texts-text {
        color: #ffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        font-family: Inter; }
    .main .section4-container2 .section4-box5 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;
      background-image: url("/img/backavatar4.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 580px 246px 24px 24px; }
      .main .section4-container2 .section4-box5__texts-title {
        color: #fffd;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        font-family: Inter; }
      .main .section4-container2 .section4-box5__texts-text {
        color: #ffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        font-family: Inter; }

.main .section5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px; }
  .main .section5-container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 60%; }
    .main .section5-container1__img {
      margin-left: 100px; }
    .main .section5-container1__img1 {
      margin-top: 100px;
      margin-left: -155px; }
  .main .section5-container2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    width: 30%; }
    .main .section5-container2__title {
      font-size: 48px;
      font-weight: 500;
      line-height: 57.6px;
      font-family: Canela;
      color: #ffff; }
      .main .section5-container2__title--green {
        color: #D3F85A; }
    .main .section5-container2__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 25.6px;
      font-family: Inter;
      color: #fffd; }
    .main .section5-container2__input-btn {
      padding: 5px 15px; }

.footer {
  padding: 150px 150px 50px 150px; }
  .footer-container1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 230px; }
    .footer-container1-block {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px; }
      .footer-container1-block__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        font-family: Inter;
        color: #fffd; }
      .footer-container1-block-socium {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px; }
    .footer-container1-block2 {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 55px; }
      .footer-container1-block2__title {
        color: #ffff;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        font-family: Inter; }
      .footer-container1-block2-list-item__link {
        color: #fffd;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        font-family: Inter; }
  .footer-container2 {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px; }
    .footer-container2__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 25.6px;
      font-family: Inter;
      color: #fffd; }
    .footer-container2-texts {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 25px; }

@media screen and (max-width: 1512px) and (min-width: 375px) {
  .header .nav {
    display: none; }
  .header__btn {
    display: none; }
  .header .header__burger {
    display: block; }
  .main {
    padding: 5px; }
    .main .section1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px; }
      .main .section1-container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 450px;
        width: 100%; }
      .main .section1-box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        text-align: center; }
        .main .section1-box1__title {
          font-size: 39px;
          font-weight: 500;
          line-height: 46.8px;
          font-family: Canela; }
      .main .section1-stats {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px; }
        .main .section1-stats__sts-number {
          font-size: 31px;
          font-weight: 500;
          line-height: 37.2px;
          font-family: Canela; }
      .main .section1-container2__back {
        padding: 25px 35px;
        position: absolute;
        top: 500px; }
      .main .section1-container2__star {
        position: absolute;
        top: 670px;
        z-index: 1;
        left: -1px;
        width: 25%; }
      .main .section1-shalker {
        position: absolute;
        top: 800px;
        right: 5px; }
    .main .section2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px; }
      .main .section2-box1 {
        text-align: center; }
        .main .section2-box1__title {
          font-size: 31px;
          font-weight: 500;
          line-height: 37.2px;
          font-family: Canela; }
      .main .section2 .cards {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px; }
        .main .section2 .cards-card {
          width: 100%; }
    .main .section3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px; }
      .main .section3-container1 {
        text-align: center;
        width: 100%;
        padding: 0; }
        .main .section3-container1__title {
          font-size: 31px;
          font-weight: 500;
          line-height: 37.2px;
          font-family: Canela; }
        .main .section3-container1__text {
          font-size: 14px;
          font-weight: 400;
          line-height: 25.6px;
          font-family: Inter; }
      .main .section3-container2__img {
        padding: 30px;
        position: absolute;
        left: 50px; }
      .main .section3-container2__img1 {
        padding: 30px;
        position: absolute;
        right: 50px; }
    .main .section4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px; }
      .main .section4-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px; }
        .main .section4-container2-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 15px; }
          .main .section4-container2-wrapper-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px; }
      .main .section4-box1 {
        height: 356px;
        width: 90%; }
      .main .section4-box2 {
        height: 356px;
        width: 90%; }
      .main .section4-box3 {
        height: 356px;
        width: 90%; }
      .main .section4-box4 {
        height: 356px;
        width: 90%; }
      .main .section4-box5 {
        height: 356px;
        width: 90%; }
        .main .section4-box5__img {
          height: 356px; } }

@font-face {
  font-family: 'Canela';
  src: url(Font/CanelaText-Medium-Trial.otf) format("otf");
  font-weight: 500; }
