@import './mixin';
@import './vars';
@import './reset';
body{
  background-color: $background-color;
}
.button{
  @include Inter(16px,700,19.6px);
  background-color: $Primer;
  border-radius: 8px;
}
.header {
  @include Flex(row, center, space-around, 20px);

  &__img {

  }
  .nav {
    &__list {
      @include Flex(row, center, center, 40px);
    }
    &__link{
      @include Inter(16px,400,25.6px);
      color: $main-color;
    }
    &__link:hover{
      color: $hover;
      border-bottom: 1px solid $Primer;
    }
  }
  &__btn {
    padding:5px 15px;
  }
  .header__burger{
    display: none;
  }
}
.main {
  .section1 {
    margin-top: 118px;
    @include Flex(row, flex-start, space-around, 100px);

    &-container1 {
      @include Flex(column, flex-start, flex-start, 50px);
      width: 40%;
    }

    &-box1 {
      @include Flex(column, flex-start, flex-start, 20px);

      &__title {
        color: $hover;
        @include Canela(64px, 500, 76.8px);

        &--green {
          color: $Primer;
        }
      }

      &__text {
        color: $hover;
        @include Inter(16px, 400, 25.6px)
      }

      &__buttons {
        margin-top: 20px;
        @include Flex(row, center, center, 40px);

        &-btn {
          padding: 5px 20px;
        }

        &-btn1 {
          @include Inter(16px, 400, 25.6px);
          color: $main-color;
        }

        &-btn1:hover {
          color: $hover;
        }
      }
    }

    &-stats {
      @include Flex(row, center, center, 94px);

      &__sts {
        padding-right: 28px;
        border-right: 1px solid $Primer;
        @include Flex(column, center, center, 8px);

        &-number {
          @include Canela(48px, 500, 57.6px);
          color: $hover;

          &--green {
            color: $Primer
          }
        }

        &-text {
          @include Inter(16px, 400, 25.6px);
          color: $hover;
        }
      }

      &__sts:last-child {
        border-right: none;
      }
    }

    &-container2 {
      @include Flex(column, center, center, 0px);

      &__star {
        position: absolute;
        top: 355px;
        right: 404.42px;
      }

      &__back {
        z-index: -1;
      }
    }

    &-shalker {
      padding: 0 25px;
      position: absolute;
      top: 620px;
      right: 31px;
      border-top: 1px solid $Primer;
      background-color: #131E3A;
      border-radius: 8px;

      &__time {
        padding: 10px 1px 0 1px;
        @include Flex(row, center, space-between, 0px);

        &-text {
          @include Inter(16px, 400, 25.6px);
          color: $Primer;
        }
      }

      &__dolar {
        @include Flex(row, center, space-between, 0px);
        padding: 0 1px 10px 1px;

        &-timer {
          @include Inter(16px, 400, 19.2px);
          color: $hover;
        }
      }

      &__btn {
        @include Inter(16px, 700, 19.2px);
        color: $Primer;
        padding: 8px 30px;
        margin: 0 10px;
        border: 1px solid $Primer;
        border-radius: 8px;
      }
    }

  }

  .section2 {
    padding-top: 150px;

    &-box1 {
      @include Flex(row, flex-end, space-between, 0px);
      padding: 0 45px;

      &__title {
        width: 45%;
        @include Canela(48px, 500, 57.6px);
        color: $Primer;

        &--white {
          color: $hover;
        }
      }

      &__btn {
        padding: 5px 15px;
      }
    }

    .cards {
      @include Flex(row,center,center,25px);
      padding: 64px;
      &-card {
        border-radius: 8px;
        border-top: 1px solid $Primer;
        background-color: $second-color;
        width: 30%;
        padding: 15px;
        &__info {
          &-text {
            @include Flex(row,center,space-between,0px);
            color:$hover;
            &__title {
              @include Inter(24px,700,28.8px);
            }
            &__etnnumber {
              @include Flex(row,center,center,0px);
              &-number {
                @include Inter(16px,700,19.2px);
              }
            }
          }

          &-btn {
            &__text{
              @include Inter(14px, 400, 22.4px);
              color: #838382;
            }
            &__etnnumber {
              @include Flex(row,center,space-between,0px);
              &-texts {
                @include Flex(row,center,flex-start,0px);
                &__number {
                  @include Inter(16px, 700, 19.2px);
                  color:$hover;
                }
              }
              &-button{
                border: 1px solid $Primer;
                padding: 5px 15px;
                border-radius: 8px;
                color: $Primer;
                @include Inter(16px,700,19.2px);
              }
            }
          }
        }
      }
    }
  }
  .section3{
    margin-top: 150px;
    @include Flex(row,flex-start,flex-start,15px);
    &-container1{
      padding: 150px;
      width: 50%;
      @include Flex(column,center,center,5px);
      &__title{
        color: $hover;
        @include Canela(48px,500,57.6px);
        &--green{
          color: $Primer;
        }
      }
      &__text{
        @include Inter(14px,400,25.6px);
        color:$main-color;
      }
      &__buttons{
        @include Flex(row,center,center,35px);
        &-btn {
          padding: 5px 20px;
        }

        &-btn1 {
          @include Inter(16px, 400, 25.6px);
          color: $main-color;
        }
        &-btn1:hover {
          color: $hover;
        }
      }
    }
    &-container2{
      padding: 150px;
      width: 50%;
      position: relative;
      &__img{
        position: absolute;
        top:5px;
        right:75px;
      }
      &__img1{
        position: absolute;
        right:350px;
      }
    }
  }
  .section4{

    padding: 150px 142.5px;
    &-container1{
      @include Flex(row,center,space-between,0px);
      &__title{
        @include Canela(48px,500,57.6px);
        width: 30%;
        color: $hover;
        &--green{
          color: $Primer;
        }
      }
      &__btn{
        padding:5px 15px;
      }
    }
    &-container2{
      @include Flex(row,flex-start,flex-start,30px);
      &-wrapper {
        @include Flex(column, flex-start, flex-start, 30px);

        &-block {
          @include Flex(row, flex-start, flex-start, 30px);
        }
      }
      .section4-box1{
        @include Flex(row,flex-start,flex-start,5px);
        background-image: url("/img/backavatar.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 239px 104px 24px 24px;
        &__texts{
          &-title{
            color: $main-color;
            @include Inter(14px,400,22.4px);
          }
          &-text{
            color: $hover;
            @include Inter(16px,700,19.2px);
          }
        }
      }
      .section4-box2 {
        @include Flex(row, flex-start, flex-start, 5px);
        background-image: url("/img/backavatar1.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 239px 323px 24px 24px;
        &__texts {
          &-title {
            color: $main-color;
            @include Inter(14px, 400, 22.4px);
          }

          &-text {
            color: $hover;
            @include Inter(16px, 700, 19.2px);
          }
        }
      }
      .section4-box3 {
        @include Flex(row, flex-start, flex-start, 5px);
        background-image: url("/img/backavatar2.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 239px 191px 24px 24px;
        &__texts {
          &-title {
            color: $main-color;
            @include Inter(14px, 400, 22.4px);
          }

          &-text {
            color: $hover;
            @include Inter(16px, 700, 19.2px);
          }
        }
      }
      .section4-box4 {
        @include Flex(row, flex-start, flex-start, 5px);
        background-image: url("/img/backavatar3.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 239px 212px 24px 24px;
        &__texts {
          &-title {
            color: $main-color;
            @include Inter(14px, 400, 22.4px);
          }

          &-text {
            color: $hover;
            @include Inter(16px, 700, 19.2px);
          }
        }
      }
      .section4-box5{
        @include Flex(row,flex-start,flex-start,5px);
        background-image: url("/img/backavatar4.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 580px 246px 24px 24px;

        &__texts{
          &-title{
            color: $main-color;
            @include Inter(14px,400,22.4px);
          }
          &-text{
            color: $hover;
            @include Inter(16px,700,19.2px);
          }
        }
      }
    }
  }
  .section5{
    @include Flex(row,flex-start,flex-start,15px);
    &-container1{
      @include Flex(row,center,center,15px);
      width: 60%;
      &__img{
        margin-left:100px;
      }
      &__img1{
        margin-top: 100px;
        margin-left: -155px;
      }
    }
    &-container2{
      @include Flex(column,flex-start,flex-start,15px);
      width: 30%;
      &__title{
        @include Canela(48px,500,57.6px);
        color:$hover;
        &--green{
          color: $Primer;
        }
      }
      &__text{
        @include Inter(16px,400,25.6px);
        color:$main-color;
      }
      &__input{
        &-textbox{

        }
        &-btn{
          padding: 5px 15px;
        }
      }
    }
  }
}
.footer{
  padding: 150px 150px 50px 150px;
&-container1 {
  @include Flex(row, flex-start, flex-start, 230px);

  &-block {
    width: 25%;
    @include Flex(column, flex-start, flex-start, 10px);

    &__text {
      @include Inter(16px, 400, 25.6px);
      color: $main-color;
    }

    &-socium {
      @include Flex(row, flex-start, flex-start, 15px);
    }
  }

  &-block2 {
    @include Flex(row, flex-start, flex-start, 55px);

    &__title {
      color: $hover;
      @include Inter(20px, 700, 24px);
    }

    &-list {
      &-item {
        &__link {
          color: $main-color;
          @include Inter(16px, 400, 25.6px);
        }
      }
    }
  }
}
  &-container2{
    padding-top: 50px;
    @include Flex(row,flex-start,space-between,5px);
    &__text{
      @include Inter(16px,400,25.6px);
      color:$main-color;
    }
    &-texts{
      @include Flex(row,flex-start,flex-start,25px);
    }
  }
}












@media screen and (max-width: 1512px) and (min-width: 375px){
  .header{
    .nav{
      display: none;
    }
    &__btn{
      display: none;
    }
    .header__burger{
      display: block;
    }
  }
  .main{
    padding: 5px;
    .section1{
      @include Flex(column,center,center,15px);
      &-container1 {
        @include Flex(column,center,center,450px);
        width: 100%;
      }
        &-box1{
          @include Flex(column,center,center,15px);
          text-align: center;
          &__title{
            @include Canela(39px, 500, 46.8px);
          }
        }
      &-stats{
        @include Flex(row, center, center, 40px);
        &__sts{
          &-number{
            @include Canela(31px,500,37.2px);
          }
          &-text{

          }
        }
      }
      &-container2{
        &__back{
          padding: 25px 35px;
          position: absolute;
          top: 500px;
        }
        &__star{
          position: absolute;
          top:670px;
          z-index: 1;
          left: -1px;
          width: 25%;
        }
      }
      &-shalker{
        position: absolute;
        top:800px;
        right: 5px;
      }
      }
    .section2{
      @include Flex(column,center,center,15px);
      &-box1{
        text-align: center;
        &__title{
          @include Canela(31px,500,37.2px);
        }
      }
      .cards{
        padding: 0;
        @include Flex(column,center,center,15px);
        &-card{
          width: 100%;
        }
      }
    }
    .section3{
      @include Flex(column,center,center,15px);
      &-container1{
        text-align: center;
        width: 100%;
        padding: 0;
        &__title{
          @include Canela(31px,500,37.2px);
        }
        &__text{
          @include Inter(14px,400,25.6px);
        }
      }
      &-container2{
        &__img{
          padding: 30px;
          position: absolute;
          left: 50px;
        }
        &__img1{
          padding: 30px;
          position: absolute;
          right: 50px;
        }
      }
    }
    .section4{
      @include Flex(column,center,center,15px);
      &-container2{
        &-wrapper{
          &-block{
            @include Flex(column,center,center,15px);

          }
          @include Flex(column,center,center,15px);
        }
        @include Flex(column,center,center,15px);
      }
      &-box1{
        height: 356px;
        width: 90%;
      }
      &-box2{
        height: 356px;
        width: 90%;
      }
      &-box3{
        height: 356px;
        width: 90%;
      }
      &-box4{
        height: 356px;
        width: 90%;
      }
      &-box5{
        &__img{
          height: 356px;
        }
        height: 356px;
        width: 90%;
      }
    }
  }
}
@font-face {
  font-family: 'Canela';
  src: url(Font/CanelaText-Medium-Trial.otf) format('otf');
  font-weight: 500;
}